h2,
p {
  color: black;
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 25px 25px 25px 25px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  /* padding: 0px 25px 0px 25px; */
}

.column img {
  margin-top: 8px;
  width: 90%;
}

.column img:hover {
  opacity: 60%;
}

.column a {
  color: black;
}

.column a:hover {
  color: plum;
}
