body {
  display: flex;
  flex-direction: column;
  /* align-items: stretch; */
  display: inline;
  /* justify-content: space-between; */
}

.my-photo {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  float: left;
  /* display: inline-block; */
}

.intro {
  width: stretch;
  /* float: right; */
  /* display: inline-block; */
}
