* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-flex {
  /* border: 2px solid red; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(137, 161, 239);
}

.flex-grow {
  flex-grow: 1;
}
