header {
  background-image: url("../../assets/header/stars.jpg");
  display: flex;
  justify-content: space-between;
}

h1,
a {
  color: gray;
}

ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

a:hover {
  color: plum;
}
